@using TiroGuerra.Models
@using System.Linq
@model List<Chamada>
@{
    ViewBag.Title = "Cadastro chamada";
    ViewBag.css = "/css/chamada.css";
    
}
        <div class="content">


            
        <section class="flex-row">
           <label class="title"> Chamada Online</label>
        </section>

        

        <form method="POST" action="/chamada/update">
            <section class="flex-row">
                <div class="col-wd-100-content">

                    <div class="linha-cabecalho">
                        <label class="subtitle" >Nome Completo:</label>
                        <label class="subtitle" >Número:</label>
                        <label class="subtitle" id="presenca" >Presença:</label>    
                    </div>
                    
                     @for(int i = 0; i < Model.Count;i++)
                    {  
                        <div class="linha">
                            <input readonly="readonly"  class="nomes-chamada" asp-for="@Model[i].IdAtirador" type="hidden" />
                            <label class="nomes-chamada"> @Model[i].Atirador.Nome</label>
                            <label class="nomes-chamada"> @Model[i].Atirador.Numero</label>
                            <input class="nomes-chamada" asp-for="@Model[i].Presenca" type="Checkbox" />
                            <input readonly="readonly"  class="nomes-chamada" asp-for="@Model[i].Atirador.Email" type="hidden" />
                        </div>
                    }
                    

                </div>

            </section>

            <section class="flex-row">
                <div class="col-wd-100">
                    <div class="caixa-botao">
                        <button class="btn-salvar">Salvar</button>
                    </div>
                </div>
            </section>


        </form>

            </div>
        </div>