@using TiroGuerra.Models
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    ViewBag.Title = "Conta";
    ViewBag.css = "/css/conta.css";
}
    
    <section class="linha">
        <div class="wd100">
            <h2 class="title">Cadastro de Atirador</h2>
        </div>
    </section>
        
    
        <form method="POST" action="/atirador/logout">

            <section class="linha">
                <div class="wd50">
                    <label for="textoCPF" class="form-label">Nome: @HttpContextAccessor.HttpContext.Session.GetString("Nome")</label>
                </div>

                <div class="wd50">
                    <label for="textoCPF" class="form-label">CPF: @HttpContextAccessor.HttpContext.Session.GetString("CPF")</label>
                </div>
            </section>

            <section class="linha">
                <div class="wd50">
                    <label class="form-label">RG: @HttpContextAccessor.HttpContext.Session.GetString("RG")</label>
                </div>

             @if(!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Graduacao")))
                {
                    <section class="linha">
                    <div class="wd50">
                        <label class="form-label">Graduação: @HttpContextAccessor.HttpContext.Session.GetString("Graduacao")</label>
                        
                    </div>
                    </section>


                }else if(!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Formacao"))){
                     <section class="linha">
                    <div class="wd50">
                        <label class="form-label">Formação: @HttpContextAccessor.HttpContext.Session.GetString("Formacao")</label>
                        
                    </div>

                    <div class="wd50">
                        <label class="form-label">Pelotão: @HttpContextAccessor.HttpContext.Session.GetString("Pelotao")</label>
                    
                    </div>
                    </section>

                    <section class="linha">
                        <div class="wd50">
                            <label class="form-label">Número: @HttpContextAccessor.HttpContext.Session.GetString("Numero")</label>
                        
                        </div>
                    </section>
                    <div class="wd50">
                    <label class="form-label">RA: @HttpContextAccessor.HttpContext.Session.GetString("RA")</label>
                    </div>
                }
                
            

           

            <section class="endForm">
                <button class="btn btn-primary">Sair</button>
            </section>


        </form>    
    