@using TiroGuerra.Models

@{
    ViewBag.Title = "Cadastro FATD";
    ViewBag.css = "/css/atirador.css";
    
}
    
    <div class="background-image"></div>

    <div class="content">

        <section class="flex-row">
            <div class="col-wd-100">
                <h1 class="title">Cadastro de Atirador</h1>
            </div>
        </section>

        <form method="POST" action="/atirador/FATD">

            <section class="flex-row">
                <div class="col-wd-50">
                    <label for="textoCPF">Nome:</label>
                    <input type="text" name="nome" values="@ViewBag.atirador.Nome" readonly required> 
                </div>

                <div class="col-wd-50">
                    <label for="textoCPF" class="form-label">CPF:</label>
                    <input type="text" name="CPF" values="@ViewBag.atirador.CPF" readonly required="true">
                </div>
            </section>

            <section class="flex-row">
                <div class="col-wd-50">
                    <label class="form-label">RG</label>
                    <input type="text" name="RG" values="@ViewBag.atirador.RG" readonly  required="true">
                </div>

                <div class="col-wd-50">
                    <label class="form-label">RA</label>
                    <input type="text" name="RA" readonly values="@ViewBag.atirador.RA" required="true">
                </div>
            </section>

            <section class="flex-row">
                <div class="col-wd-50">
                    <label>Formação:</label>
                    <input type="text" name="formacao" readonly values="@ViewBag.atirador.Formacao" required="true">
                </div>

                <div class="col-wd-50">
                    <label>Pelotão:</label>
                    <input type="text" name="Pelotao" readonly values="@ViewBag.atirador.Pelotao.Nome" required="true">
                </div>
            </section>

            <section class="flex-row">
                <div class="col-wd-50">
                    <label>Número</label>
                    <input type="text" name="Numero" values="@ViewBag.atirador.Numero" required="true">
                </div>

            </section>

            <section class="endForm">
                <button class="btn-salvar">Salvar</button>
            </section>

        </form>
    </div>
