@using TiroGuerra.Models

@{
    ViewBag.Title = "Cadastro FATD";
    ViewBag.css = "/css/atirador.css";
    
}
    
    <div class="background-image"></div>

    <div class="content">

        <section class="flex-row">
            <div class="col-wd-100">
                <h1 class="title">Cadastro de Atirador</h1>
            </div>
        </section>

        <form method="POST" action="/atirador/update">
            <div class="col-wd-50">
                    <label for="textoCPF">Nome:</label>
                    <input type="hidden" name="Id" value="@ViewBag.atirador.Id" required> 
                </div>
            <section class="flex-row">
                <div class="col-wd-50">
                    <label for="textoCPF">Nome:</label>
                    <input type="text" name="Nome" value="@ViewBag.atirador.Nome" required> 
                </div>

                <div class="col-wd-50">
                    <label for="textoCPF" class="form-label">CPF:</label>
                    <input type="text" name="CPF" value="@ViewBag.atirador.CPF" required="true">
                </div>
            </section>

            <section class="flex-row">
                <div class="col-wd-50">
                    <label class="form-label">RG</label>
                    <input type="text" name="RG" value="@ViewBag.atirador.RG"  required="true">
                </div>

                <div class="col-wd-50">
                    <label class="form-label">RA</label>
                    <input type="text" name="RA"  value="@ViewBag.atirador.RA" required="true">
                </div>
            </section>

            <section class="flex-row">
                <div class="col-wd-50">
                    <label>Formação:</label>
                    <input type="text" name="Formacao"  value="@ViewBag.atirador.Formacao" required="true">
                </div>

                <div class="col-wd-50">
                    <label>Pelotão:</label>
                    <select name="IdPelotao" required="true">
                        <option value="@ViewBag.atirador.Pelotao.Nome">@ViewBag.atirador.Pelotao.Nome</option>                
                        @foreach(var pelotao in ViewBag.pelotoes)
                        {                
                          <option value="@pelotao.Id">@pelotao.Nome</option>    
                        }
                    </select>
                    
                </div>
            </section>

            <section class="flex-row">
                <div class="col-wd-50">
                    <label>Número</label>
                    <input type="text" name="Numero" value="@ViewBag.atirador.Numero" required="true">
                </div>

            </section>

            <section class="endForm">
                <button class="btn-salvar">Salvar</button>
            </section>

        </form>
    </div>